In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt

In [2]:
filename='2021_LoL_esports_match_data_from_OraclesElixir_20221108.csv'
df=pd.read_csv(filename)

df.head()

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
0,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1.0,10.25,...,118.0,748.0,-56.0,-4.0,2.0,0.0,1.0,0.0,1.0,1.0
1,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1.0,10.25,...,84.0,2120.0,3405.0,62.0,3.0,2.0,0.0,2.0,0.0,3.0
2,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1.0,10.25,...,143.0,1578.0,354.0,15.0,2.0,3.0,0.0,0.0,0.0,0.0
3,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1.0,10.25,...,120.0,124.0,102.0,10.0,0.0,4.0,2.0,1.0,1.0,2.0
4,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1.0,10.25,...,25.0,448.0,450.0,3.0,1.0,4.0,0.0,0.0,2.0,2.0

In [28]:
#Checking for any missing data type and values

df.info()
num_vars = df.columns[df.dtypes != 'object']
cat_vars = df.columns[df.dtypes == 'object']

print(num_vars)
print(cat_vars)
df[num_vars].isnull().sum().sort_values(ascending =False)/len(df)


#checking if the columns that are relatable to my hypothesis are as bad in missing data
print(df['xpdiffat15'].isnull().sum()/len(df))
print(df['golddiffat15'].isnull().sum()/len(df))
print(df['killsat15'].isnull().sum()/len(df))
print(df['csdiffat15'].isnull().sum()/len(df))
print(df['barons'].isnull().sum()/len(df))
print(df['opp_barons'].isnull().sum()/len(df))
print(df['xpat15'].isnull().sum()/len(df))
print(df['opp_xpat15'].isnull().sum()/len(df))
print(df['goldat15'].isnull().sum()/len(df))
print(df['opp_goldat15'].isnull().sum()/len(df))
print(df['opp_killsat15'].isnull().sum()/len(df))
print(df['csat15'].isnull().sum()/len(df))
print(df['opp_csat15'].isnull().sum()/len(df))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150264 entries, 0 to 150263
Columns: 123 entries, gameid to opp_deathsat15
dtypes: float64(94), int64(11), object(18)
memory usage: 141.0+ MB
Index(['year', 'playoffs', 'game', 'patch', 'participantid', 'gamelength',
       'result', 'kills', 'deaths', 'assists',
       ...
       'opp_csat15', 'golddiffat15', 'xpdiffat15', 'csdiffat15', 'killsat15',
       'assistsat15', 'deathsat15', 'opp_killsat15', 'opp_assistsat15',
       'opp_deathsat15'],
      dtype='object', length=105)
Index(['gameid', 'datacompleteness', 'url', 'league', 'split', 'date', 'side',
       'position', 'playername', 'playerid', 'teamname', 'teamid', 'champion',
       'ban1', 'ban2', 'ban3', 'ban4', 'ban5'],
      dtype='object')
0.08592876537294362
0.08592876537294362
0.08592876537294362
0.08592876537294362
0.7315125379332375
0.7315125379332375
0.08592876537294362
0.08592876537294362
0.08592876537294362
0.08592876537294362
0.08592876537294362
0.08592876537294362
0.08592876537294362

In [32]:
drop_cols=['gameid','datacompleteness','url','league','split','date',
        'side','position','playername','playerid','teamname','teamid',
        'champion','ban1','ban2','ban2','ban3','ban4','ban5','year','playoffs','game',
        'patch','participantid','gamelength','result','kills','deaths','assists','doublekills'
        ,'triplekills','quadrakills','pentakills','firstblood','firstbloodassist',
        'firstbloodvictim','teamkills','teamdeaths','firstbloodkill','team kpm','ckpm','firstdragon',
        'dragons','opp_dragons','elementaldrakes','opp_elementaldrakes','infernals',
     'mountains','clouds','oceans','chemtechs','hextechs','dragons (type unknown)',
     'elders','opp_elders','firstherald','heralds','opp_heralds','firsttower','towers','opp_towers',
     'firstmidtower','firsttothreetowers', 'turretplates','opp_turretplates','inhibitors','opp_inhibitors'
      ,'damagetochampions','dpm','damageshare','damagetakenperminute','damagemitigatedperminute','wardsplaced',
     'wpm','controlwardsbought','wardskilled','wcpm','visionscore','vspm','totalgold','earnedgold','earned gpm',
      'earnedgoldshare','goldspent','gspd','total cs','minionkills','monsterkills','monsterkillsownjungle','monsterkillsenemyjungle','cspm',
     'firstbaron','goldat10','xpat10','csat10','opp_goldat10','opp_xpat10','opp_csat10','assistsat10','deathsat10','opp_killsat10','opp_assistsat10',
      'golddiffat10','xpdiffat10','csdiffat10','killsat10','opp_deathsat10','assistsat15','deathsat15','opp_assistsat15','opp_deathsat15']
data=df.drop(drop_cols,axis=1)
data.head()

,barons,opp_barons,goldat15,xpat15,csat15,opp_goldat15,opp_xpat15,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,opp_killsat15
0,NaN,NaN,5407.0,7536.0,114.0,4659.0,7592.0,118.0,748.0,-56.0,-4.0,2.0,0.0
1,NaN,NaN,6974.0,8232.0,146.0,4854.0,4827.0,84.0,2120.0,3405.0,62.0,3.0,2.0
2,NaN,NaN,6591.0,7827.0,158.0,5013.0,7473.0,143.0,1578.0,354.0,15.0,2.0,0.0
3,NaN,NaN,5202.0,5053.0,130.0,5078.0,4951.0,120.0,124.0,102.0,10.0,0.0,1.0
4,NaN,NaN,3853.0,4681.0,28.0,3405.0,4231.0,25.0,448.0,450.0,3.0,1.0,0.0

In [37]:
#checking relationship between parameters of team features
g = sns.PairGrid(data=data, vars=['goldat15','xpat15','csat15','killsat15'],
             hue='barons',height=3, palette='Set1')
g.map_diag(plt.hist)
g.map_offdiag(plt.scatter)
g.add_legend();